* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.List {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
}

.List form {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  border: 1px solid #727272;
  border-radius: 10px;
  padding: 30px;
  margin: 30px 0 10px 0;
}

.List form label {
  width: 20%;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.List form input {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
}

.List table {
  width: 100%;
  border-spacing: 0 5;
  border: 1px solid #727272;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  font-size: 18px;
}

.List thead {
  font-size: 20px;
  background-color: lightgrey;
}

.List tr {
  height: 50px;
}

.List th,
td {
  border-bottom: 1px solid black;
}

.List th:first-child,
td:first-child {
  width: 200px;
}

.List th:last-child,
td:last-child {
  width: 200px;
}

.List nav {
  border: 1px solid #727272;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  margin-top: 10px;
}

.List nav button {
  height: 40px;
  width: 200px;
  margin: 0 20px 0 20px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightgrey;
}

#modal {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal div {
  background-color: lightgrey;
  width: 400px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
}

#modal button {
  width: 100px;
  height: 30px;
  margin-top: 30px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 10px;
}

.details-table {
  width: 100%;
  border-spacing: 0 5;
  font-size: 18px;
}

.details-table tr {
  height: 40px;
}

.details-table td,
th {
  padding: 20px;
  border-bottom: 1px solid black;
}

.error-msg {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  padding: 30px;
  border: 1px solid red;
  border-radius: 10px;
  font-size: 18px;
}

.error-msg button {
  height: 40px;
  width: 200px;
  margin: 0 20px 0 20px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightgrey;
  margin-top: 30px;
}
